.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.header svg {
    padding: 0px 5px;
}

.header select {
    margin-right: 20px;
}