$primaryFont: Roboto;
$secondaryFont: Montserrat;
$primaryColor: #027EE6;

.content {
    margin-left: 100px; /* Same as the width of the sidenav */
    // padding: 0px 10px;
}

.mainButton {
  color: white;
  text-transform: uppercase;
  background-color: $primaryColor;
  font-family: $secondaryFont;
  outline: none;
  border: 0;
  border-radius: 16px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
}

h2 {
  font-family: $secondaryFont;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}